variables:
  UV_CACHE_DIR: "$CI_PROJECT_DIR/.cache/uv"

test_unit:
  image: python:3.11-slim
  before_script:
    - pip install uv
    # - apt-get update && apt-get install -y ffmpeg curl (Too slow, not needed for mock tests)
  script:
    - uv venv .venv
    - source .venv/bin/activate
    - uv pip install -r requirements.txt
    - python tests/test_pipeline.py
  cache:
    key: "uv-v1"
    paths:
      - .cache/uv
  only:
    - main
    - dev
