variables:
  UV_CACHE_DIR: "$CI_PROJECT_DIR/.cache/uv"
  CHROME_BIN: "/usr/bin/chromium"
  CHROMEDRIVER_PATH: "/usr/bin/chromedriver"

test_unit:
  image: python:3.11-slim
  before_script:
    - apt-get update && apt-get install -y chromium chromium-driver
    - pip install uv
  script:
    - uv venv .venv
    - source .venv/bin/activate
    - uv pip install -r requirements.txt
    - export PYTHONPATH=.
    - pytest --ignore=tests/test_real_db.py
  cache:
    key: "uv-v1"
    paths:
      - .cache/uv
  only:
    - main
    - dev
