stages:
  - build
build_image:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "Starte Docker Build zur Verifikation..."
    - docker build .
  only:
    - main
    - dev
