services:
  podcast-app:
    build: .
    container_name: podcast-generator
    ports:
      - "7860:7860"
    environment:
      - PYTHONPATH=/app
      - HOST=0.0.0.0
      - PORT=7860
      # Wir überschreiben die Variable für den Container-Pfad
      - GOOGLE_APPLICATION_CREDENTIALS=/app/google-credentials.json
      # Auf dem VPS bitte auskommentieren, da nicht benötigt!
      # - SSH_KEY_PATH=/app/ssh_key 
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      # Google Key Pfad in der .env setzen 
      - ${GOOGLE_KEY_LOCAL_PATH}:/app/google-credentials.json
      # SSH Key Pfad in der .env setzen, auf VPS mit lokaler DB nicht notwendig!
      # - ${SSH_KEY_LOCAL_PATH}:/app/ssh_key
    restart: unless-stopped
