gradio==5.49.1
dnspython
sqlalchemy
python-dotenv
pymysql
numpy
nltk
pydub
torch
scipy
requests
sshtunnel
flask
google-cloud-texttospeech
pytest
paramiko==2.11.0

# PDF / Quellen
PyPDF2
beautifulsoup4
lxml

# Audio
ffmpeg-python
passlib
